@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "tailwindcss";

@theme {
  /* Azul principal dos botões */
  --color-primary: rgb(43 140 238 / var(--tw-text-opacity, 1));
  --color-primary-dark: #1d4ed8;
  
  /* Cores de fundo (Surface) */
  --color-surface-dark: #111a22; /* Cor da Navbar */
  --color-page-bg: #101922;    /* Cor do fundo da página */
  
  /* Cores de Texto e Bordas */
  --color-text-secondary: #94a3b8;
  --color-border-dark: #233648;

  --background-base-card: #233648;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }

  /* Reset de links para não virem com underline azul por padrão */
  a {
    text-decoration: none;
    color: inherit;
  }

  /* Melhorar a renderização de fontes */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Forçar o comportamento visual de modo escuro */
:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-page-bg);
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
}